/* Custom root margin and alignment */
#root {
  margin: 0 auto;
  text-align: center;
  --custom-color: #A89559;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.leaflet-container {
  margin-top: 5px;
  height:88vh;
  z-index: 0;
  /* Increase margin for more space below navbar */

}

.mapContainer {
  justify-content: center;
  align-items: center;
}

.form {
  border-radius: 14px;
  border-width: 3px;
}

.main-color {
  color: #33B7CE;
}

.main-color:active {
  color: #33B7CE;
}

.border-color-main {
  border-color: #33B7CE;
}

.document-card {
  border-radius: 14px;
  border-width: 3px;
  border-color: #bbad81;
}

.bg-color-main {
  background-color: #33B7CE;
  color: white;
}

.bg-color-main-light {
  background-color: rgba(194, 232, 239, 1);
  color: black;
}

/* Main button styles */
.btn-main {
  background-color: #33B7CE;
  color: white;
  border-color: #33B7CE;
}

.btn-logout {
  background-color: #A89559;
  color: white;

}

.btn-document {
  background-color: #A89559;
  color: white;
  border-color: #A89559;
}

.red {
  color: red;
}

.overlay {
  position: fixed;
  z-index: 1000;
  box-shadow: #000000 0px 10px 20px 0px;
}

@keyframes blink {
  0%, 100% {
    border-color: red;
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
  }
  50% {
    border-color: transparent;
    box-shadow: 0 0 0 0 transparent;
  }
}
.blink {
  animation: blink 2s infinite;
  border-width: 2px !important; /* Make the border thicker */
}

.info-button {
  position: absolute;
  right:1.6%;
  top:23px;
  z-index:100;
}

.btn-filter {
  background-color: white;
  color: #A89559;
}
.btn-filter:hover {
  background-color: #A89559;
  color: white;
}

.btn-search {
  background-color: #A89559;
  color: white ;
}
.btn-search:hover {
  background-color: #7a5d00;
}

.filters-card {
  position: absolute;
  z-index: 10000;
  top: 50px;
  border-width: 2px;
  border-color: #A89559;
}

.sidebar {
  position: absolute;
  top: 80px;
  right: 0px;
  min-height: 90vh;
  max-height: 90vh;
  background-color: #eeeeee;
  z-index: 0;
  box-shadow: #000000 0px 0px 70px;
}
