/* Custom root margin and alignment */
#root {
  margin: 0 auto;
  text-align: center;
  --custom-color: #A89559;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.leaflet-container {
  margin-top: 5px;
  height:89vh;
  z-index: 0;
  /* Increase margin for more space below navbar */

}

.mapContainer {
  justify-content: center;
  align-items: center;
}

.form {
  border-radius: 14px;
  border-width: 3px;
}

.main-color {
  color: #33B7CE;
}

.main-color:active {
  color: #33B7CE;
}

.border-color-main {
  border-color: #33B7CE;
}

.document-card {
  border-radius: 14px;
  border-width: 3px;
  border-color: #bbad81;
}

.bg-color-main {
  background-color: #33B7CE;
  color: white;
}

.bg-color-main-light {
  background-color: rgba(194, 232, 239, 1);
  color: black;
}

/* Main button styles */
.btn-main {
  background-color: #33B7CE;
  color: white;
  border-color: #33B7CE;
}

.btn-logout {
  background-color: #A89559;
  color: white;

}

.btn-document {
  background-color: #A89559;
  color: white;
  border-color: #A89559;
}

.red {
  color: red;
}

.overlay {
  position: absolute;
  z-index: 10;
  box-shadow: #000000 0px 10px 20px 0px;
}

@keyframes blink {
  0%, 100% {
    border-color: red;
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
  }
  50% {
    border-color: transparent;
    box-shadow: 0 0 0 0 transparent;
  }
}
.blink {
  animation: blink 2s infinite;
  border-width: 2px !important; /* Make the border thicker */
}

.info-button {
  position: absolute;
  right:1.6%;
  top:23px;
  z-index:100;
}

.btn-filter {
  background-color: white;
  color: #A89559;
}
.btn-filter:hover {
  background-color: #A89559;
  color: white;
}

.btn-search {
  background-color: #A89559;
  color: white ;
}
.btn-search:hover {
  background-color: #7a5d00;
}

.filters-card {
  position: absolute;
  z-index: 10000;
  top: 50px;
  border-width: 2px;
  border-color: #A89559;
}

.sidebar {
  position: absolute;
  top: 80px;
  right: 0px;
  min-height: 90vh;
  max-height: 90vh;
  background-color: #eeeeee;
  z-index: 50;
  box-shadow: #000000 0px 0px 70px;
}

.document-icon:hover {
  stroke: steelblue;
  stroke-width: 3px;
}

.link {
  color: blue;

}

.link:hover {
  text-decoration: underline;
  cursor: pointer ;
}

.buttons-container {
  position: absolute;
  right: 10px;
  bottom: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 12px;
}

#btn-overlay {
  margin-top: 10px;
}

.btn-multipleselect {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  padding: 0px;
}

.btn-multipleselect:hover {
  background-color: #cccccc;
}

.btn-multipleselect:active {
  background-color: #aaaaaa;
}

.btn-add {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  width: 50px;
  height: 50px;
  padding: 0px 0px;
  background-color: darkorange;
  color: white;
}

.btn-add:hover {
  background-color: orange;
}

.btn-add:active {
  background-color: orangered;
}

.btn-add:disabled {
  background-color: #aaa8a4;
  color: #4f4f4f;
}

.btn-drag {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 50px;
  height: 50px;
  padding: 0px 0px;
  background-color: #ffffff;
  color:black;
}

.btn-drag:hover {
  background-color: #cccccc;
}

.btn-drag:active {
  background-color: #aaaaaa;
}