/* Custom root margin and alignment */
#root {
  margin: 0 auto;
  text-align: center;
  --custom-color: #A89559;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.leaflet-container {
  height: 80vh;
  border-radius: 1rem;
  margin-top: 50px;
  /* Increase margin for more space below navbar */

}

.mapContainer {
  justify-content: center;
  align-items: center;
}

.form {
  border-radius: 14px;
  border-width: 3px;
}

.main-color {
  color: #33B7CE;
}

.main-color:active {
  color: #33B7CE;
}

.border-color-main {
  border-color: #33B7CE;
}

.document-card {
  border-radius: 14px;
  border-width: 3px;
  border-color: #bbad81;
}

.bg-color-main {
  background-color: #33B7CE;
  color: white;
}

.bg-color-main-light {
  background-color: rgba(194, 232, 239, 0.41);
  color: black;
}

/* Main button styles */
.btn-main {
  background-color: #33B7CE;
  color: white;
  border-color: #33B7CE;
}

.btn-logout {
  background-color: #A89559;
  color: white;

}

.btn-document {
  background-color: #A89559;
  color: white;
  border-color: #A89559;
}

.red {
  color: red;
}

.overlay {
  position: absolute;
  bottom: 30px;
  z-index: 1000;
  box-shadow: #000000 0px 10px 20px 0px;
}